center
  h3
    a#title(href="//btkura.com") BTKura
#searchBox.col-xs-12.col-sm-10.col-sm-offset-1.col-lg-6.col-lg-offset-3
  #searchText.col-sm-10.col-xs-8
    input.form-control.col-sm-10(name="s", placeholder="Search anything you want...")
  #searchBtn.col-sm-2.col-xs-4
    input.form-control.btn.btn-primary(type="submit", value="Search")

