meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="DHT Search Engine, BitTorrent Search Engine, Magnet Search Engine, P2P Search Engine")
link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
script(src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
style(type='text/css').
  #title {
    color: #375;
  }
  h3 a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
  }
  #searchBox{
    background-color: #eee;
    border: solid 1px #093;
    margin-top: 1%;
    padding: 10px;
  }
  .torrent{
    margin-top: 20px;
  }
  nav{
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: 1px dashed #B3C6D4;
    border-bottom: 1px dashed #B3C6D4;        
  }
  .pager li a{
    border-radius: 2px;
    width: 120px;
  }
