doctype html
html(lang="zh-CN")
  head
    title DHT Search Engine
    include ./head.pug
    style(type='text/css').
      #counter{
      color: #eee;
      position: absolute;
      bottom: 5px;
      }
  body
    form.form-horizontal(action="/search", method="GET")
      include ./common.pug
    center#counter.col-xs-6.col-xs-offset-3= count